body{
  font-family: "Segoe UI", Arial, sans-serif;
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #e5e5e5;
  color: #000;
}

.container{
  width: 90%;
  max-width: 700px;
  max-height: 90vh;
  overflow-y: auto;
  padding: 20px;
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 6px 20px rgba(0,0,0,0.15);
}

.title{
  font-size: 26px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #0a3d62;
  text-align: center;
}

.subtitle{
  font-size: 18px;
  font-weight: 600;
  margin: 15px 0 10px;
  color: #222;
}

.step{
  margin-bottom: 20px;
  padding: 15px;
  border: 1px solid #ccc;
  background: #f7f7f7;
  border-radius: 8px;
}

.row{
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.label{
  width: 160px;
  text-align: right;
  margin-right: 10px;
  color: #333;
}

input{
  width: 60px;
  padding: 6px;
  margin: 2px;
  border: 1px solid #ccc;
  border-radius: 4px;
  text-align: center;
  color: #000;
}

input:focus {
  border-color: #0a3d62;
  outline: none;
}

button{
  padding: 10px 18px;
  margin-top: 10px;
  cursor: pointer;
  background: #0a3d62;
  color: #fff;
  border: none;
  border-radius: 6px;
  font-weight: 600;
}

button:hover{
  background: #062743;
}

#step2, #result{
  display: none;
}

table{
  border-collapse: collapse;
  margin: 15px auto;
  table-layout: fixed;
}

th{
  padding: 8px 12px;
  text-align: center;
  color: #333;
  font-weight: normal;
}


td{
  text-align: center;
  vertical-align: middle;
  height: 50px;
}

td input{
  width: 60px;
  padding: 6px;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 4px;
  color: #333;
}

#matrixOutput td{
  border: 1px solid #333;
  padding: 12px;
  min-width: 30px;
  text-align: center;
  font-size: 16px;
  background: #fafafa;
}